body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('PageBG.png');
    background-size: cover;
}


.content {
    align-items: center;
    justify-content: center;
}

header {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 24px;
    font-weight: bold;
    color: #f5f5f5;
    padding: 20px;
    position: fixed;
    top: 10%;
    right: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);

}

.content {
    padding: 20px;

}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f5f5f5;

}

input[type="text"],
textarea {
    /*width: 800px;*/
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    opacity: 0.8;
}
.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    background-image: url('ContainerBG3.png');

    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    width: 1000px;

}

.buttons {
    margin-top: 15px;
    text-align: center;

}

.buttons button {
    margin: 0 5px;

}

.buttons button:first-child {
    margin-left: 0;
}

.buttons button:last-child {
    margin-right: 0;
}

#convertedTimes {
    width: 800px;
    height: 400px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.form-label {
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    font-family: Copperplate, Papyrus, fantasy;
}

.form-select {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    opacity: 0.8;
}

.btn-primary {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    background-color: #3B8278;
    border-color: #3B8278;
     text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:hover {
  background-color: #54ACB6; /* Change to your desired color on hover/focus */
  border-color: #54ACB6; /* Change to your desired color on hover/focus */
}
.btn-primary:click {
    background-color: #54ACB6; /* Change to your desired color on hover/focus */
  border-color: #54ACB6;
  outline: none;
}
